<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('排班列表')" />
</head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>

<th:block th:include="include :: footer" />
<th:block th:include="include :: bootstrap-table-export-js" />



<script th:inline="javascript">
    var update = [[${@permission.hasPermi('schedule:scheduleInfo:list')}]];
    var remove = [[${@permission.hasPermi('schedule:scheduleInfo:list')}]];
    var prefix = "/staff/Schedule";

    $(function() {
        var options = {
            uniqueId: "scheduleId",
            url: prefix + "/list/"+[[${time}]]+"/"+[[${date}]],
            createUrl: prefix + "/add",
            updateUrl: prefix + "/update/{id}",
            removeUrl: prefix + "/remove",
            showExport: true,
            modalName: "排班信息",
            escape: true,
            columns: [{
                checkbox: true
            },
                {
                    title: "序号",
                    formatter: function (value, row, index) {
                        return $.table.serialNumber(index);
                    }
                },
                {
                    field: 'scheduleId',
                    title: '排班ID',
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field: 'staffId',
                    title: '员工id',
                    sortable: true
                },
                {
                    field: 'weekDate',
                    title: '工作日'
                },
                {
                    field: 'ismorning',
                    title: '早班'
                },
                {
                    field: 'isnoon',
                    title: '午班'
                },
                {
                    field: 'ismidnight',
                    title: '晚班'
                },]
        };
        $.table.init(options);
    });

</script>
</body>
</html>