<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
  <th:block th:include="include :: header('在线用户列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
  <div class="row">

    <div class="col-sm-12 search-collapse">

      <form id="online-form">
        <div class="select-list">
          <ul>
            <li>
              用户Id：<input type="text" name="userId"/>
            </li>
            <li>
              用户姓名：<input type="text" name="userName"/>
            </li>
            <li>
              <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
              <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
            </li>
          </ul>
        </div>
      </form>
    </div>
    <div class="btn-group-sm" id="toolbar" role="group">
      <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:user:add">
        <i class="fa fa-plus"></i> 新增
      </a>
    </div>

    <div class="col-sm-12 select-table table-striped">
      <table id="bootstrap-table"></table>
    </div>

  </div>
</div>

<th:block th:include="include :: footer" />
<th:block th:include="include :: bootstrap-table-export-js" />



<script th:inline="javascript">
  var update = [[${@permission.hasPermi('user:manage:update')}]];
  var remove = [[${@permission.hasPermi('user:manage:delete')}]];
  var prefix = "/account/userManage";

  $(function() {
    var options = {
      uniqueId: "UserId",
      url: prefix + "/list",
      createUrl: prefix + "/add",
      updateUrl: prefix + "/update/{id}",
      removeUrl: prefix + "/remove",
      showExport: true,
      modalName: "用户信息",
      escape: true,
      columns: [{
        checkbox: true
      },
        {
          title: "序号",
          formatter: function (value, row, index) {
            return $.table.serialNumber(index);
          }
        },
        {
          field: 'userId',
          title: '用户ID',
          formatter: function(value, row, index) {
            return $.table.tooltip(value);
          }
        },
        {
          field: 'userName',
          title: '姓名',
          sortable: true
        },
        {
          field: 'userAge',
          title: '年龄',
          sortable: true
        },
        {
          field: 'userSex',
          title: '性别'
        },
        {
          field: 'userPhone',
          title: '手机号'
        },
        {
          field: 'userBalance',
          title: '余额',
          sortable: true
        },

        {
          title: '操作',
          align: 'center',
          formatter: function(value, row, index) {
            var msg = '<a class="btn btn-success btn-xs ' + update + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.userId + '\')"><i class="fa fa-edit"></i>更新</a> ';
            var actions = [];
            actions.push('<a class="btn btn-success btn-xs ' + update + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.userId + '\')"><i class="fa fa-edit"></i>更新</a> ');
            actions.push('<a class="btn btn-danger btn-xs ' + remove + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.userId + '\')"><i class="fa fa-remove"></i>删除</a> ');
            return actions;
          }
        }]
    };
    $.table.init(options);
  });

</script>
</body>
</html>