<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <div class="wanhon">
        <h1> 酒店公告  </h1>
        <img class="bigpc" src="/d/file/p/2021/05-06/f0650ddff7f5a8885c46d0ccb21ac5c2.jpg" >

    </div>



    <div class="navdh" style="display:none">

        <div class="postion"><p><a href="/">Home</a>&nbsp;>&nbsp;<a href="/e/action/ListInfo/?classid=119">酒店公告</a></p></div>
        <a href="/" class="right"><img src="/template/images/back.png">	<span>Back Home</span></a>
    </div>


    <section class="wrapper">


        <ul class="news_list">

            <li> <h3> <a href="/e/action/ShowInfo.php?classid=119&id=198"> XXXX建设工程咨询有限公司关于XX广电置业有限公司酒店分公司暨XX丽笙精选酒店菜牌拍摄询价采购公告 </a></h3>  <span>  2021-08-16 </span></li>
            <li> <h3> <a href="/e/action/ShowInfo.php?classid=119&id=196"> XXXX建设工程咨询有限公司关于XX广电置业有限公司酒店分公司暨XX丽笙精选酒店客房纸类询价采购公告 </a></h3>  <span>  2021-08-16 </span></li>
            <li> <h3> <a href="/e/action/ShowInfo.php?classid=119&id=194"> XXXX建设工程咨询有限公司关于XX广电置业有限公司酒店分公司关于酒店艺术品增补竞争磋商公告5 </a></h3>  <span>  2021-08-12 </span></li>
            <li> <h3> <a href="/e/action/ShowInfo.php?classid=119&id=193"> XXXX建设工程咨询有限公司关于XX广电置业有限公司酒店分公司关于酒店艺术品增补竞争磋商公告4 </a></h3>  <span>  2021-08-11 </span></li>
            <li> <h3> <a href="/e/action/ShowInfo.php?classid=119&id=195"> XX广电置业有限公司酒店分公司暨XX丽笙精选酒店包厢投影询价采购的成交公告 </a></h3>  <span>  2021-08-10 </span></li>
            <li> <h3> <a href="/e/action/ShowInfo.php?classid=119&id=192"> XXXX建设工程咨询有限公司关于XX广电置业有限公司酒店分公司暨XX丽笙精选酒店咖啡及茶包询价采购的成交公告 </a></h3>  <span>  2021-08-10 </span></li>
            <li> <h3> <a href="/e/action/ShowInfo.php?classid=119&id=191"> XXXX建设工程咨询有限公司关于XX广电置业有限公司酒店分公司暨XX丽笙精选酒店鞋袜询价采购的成交公告 </a></h3>  <span>  2021-08-10 </span></li>
            <li> <h3> <a href="/e/action/ShowInfo.php?classid=119&id=190"> XXXX建设工程咨询有限公司关于XX广电置业有限公司酒店分公司暨XX丽笙精选酒店前厅部杂件询价采购的成交公告 </a></h3>  <span>  2021-08-10 </span></li>
            <li> <h3> <a href="/e/action/ShowInfo.php?classid=119&id=188"> XXXX建设工程咨询有限公司关于XX广电置业有限公司酒店分公司关于酒店艺术品增补竞争磋商公告3 </a></h3>  <span>  2021-08-06 </span></li>
            <li> <h3> <a href="/e/action/ShowInfo.php?classid=119&id=183"> XXXX建设工程咨询有限公司关于XX广电置业有限公司酒店分公司暨XX丽笙精选酒店包厢投影询价采购公告 </a></h3>  <span>  2021-08-05 </span></li>
            <li> <h3> <a href="/e/action/ShowInfo.php?classid=119&id=181"> XX丽笙精选酒店客房咖啡及茶包公开询价采购公告 </a></h3>  <span>  2021-08-04 </span></li>
            <li> <h3> <a href="/e/action/ShowInfo.php?classid=119&id=177"> XX丽笙精选酒店鞋袜公开询价采购公告 </a></h3>  <span>  2021-08-04 </span></li>
            <li> <h3> <a href="/e/action/ShowInfo.php?classid=119&id=175"> XX丽笙精选酒店前厅部杂件公开询价采购公告 </a></h3>  <span>  2021-08-04 </span></li>
            <li> <h3> <a href="/e/action/ShowInfo.php?classid=119&id=174"> XXXX建设工程咨询有限公司关于XX广电置业有限公司酒店分公司暨XX丽笙精选酒店电动窗帘品询价采购第二次的成交公告 </a></h3>  <span>  2021-07-27 </span></li>
            <li> <h3> <a href="/e/action/ShowInfo.php?classid=119&id=173"> XXXX建设工程咨询有限公司关于XX广电置业有限公司酒店分公司暨XX丽笙精选酒店智能马桶盖询价采购的成交公告 </a></h3>  <span>  2021-07-24 </span></li>
            <li> <h3> <a href="/e/action/ShowInfo.php?classid=119&id=172"> XXXX建设工程咨询有限公司关于XX广电置业有限公司酒店分公司暨XX丽笙精选酒店门禁系统增加点位询价采购的成交公告 </a></h3>  <span>  2021-07-19 </span></li>


            <div style="clear: both"></div>
        </ul>

        <div class="page"> <a title="总数">&nbsp;<b>97</b> </a>&nbsp;&nbsp;<a href="/e/action/ListInfo/index.php?page=0&amp;classid=119">首页</a>&nbsp;<a href="/e/action/ListInfo/index.php?page=0&amp;classid=119">上一页</a>&nbsp;<a href="/e/action/ListInfo/index.php?page=0&amp;classid=119">1</a>&nbsp;<b>2</b>&nbsp;<a href="/e/action/ListInfo/index.php?page=2&amp;classid=119">3</a>&nbsp;<a href="/e/action/ListInfo/index.php?page=3&amp;classid=119">4</a>&nbsp;<a href="/e/action/ListInfo/index.php?page=4&amp;classid=119">5</a>&nbsp;<a href="/e/action/ListInfo/index.php?page=5&amp;classid=119">6</a>&nbsp;<a href="/e/action/ListInfo/index.php?page=6&amp;classid=119">7</a>&nbsp;<a href="/e/action/ListInfo/index.php?page=2&amp;classid=119">下一页</a>&nbsp;<a href="/e/action/ListInfo/index.php?page=6&amp;classid=119">尾页</a></div>
    </section>
</body>

<SCRIPT type="text/javascript">

    $(document).ready(function(){

        $(".header").addClass('nron');

    })

</SCRIPT>
</html>